html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.light-theme {
    color: #222222;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body.light-theme::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
            180deg,
            rgba(248, 249, 250, 1) 0%,
            rgba(248, 249, 250, 1) 45%,
            rgba(148, 152, 156, 1) 100%
    );
}

body.light-theme .custom-navbar {
    background-color: #808181;
    color: #222222;
}

body.dark-theme {
    color: #eeeeee;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body.dark-theme::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
            180deg,
            rgba(33, 37, 41, 1) 0%,
            rgba(33, 37, 41, 1) 45%,
            rgba(99, 107, 115, 1) 100%
    );
}

body.dark-theme .custom-navbar {
    background-color: #343a41;
    color: #eeeeee;
}

body.light-theme .custom-navbar .navbar-brand,
body.light-theme .custom-navbar .nav-link {
    color: #212529;
}

body.light-theme .custom-navbar .navbar-toggler {
    color: #212529;
    border-color: #212529;
}

body.light-theme .custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Set the color of the toggler icon */
}

.theme-toggle.active {
    font-weight: bold;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ensure the image container takes up 100% of the viewport height */
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

/* Custom styles for the posts */
#posts_container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px; /* Padding around the posts container */
    justify-content: space-around; /* Ensure posts are spaced evenly */
    flex-grow: 1; /* Allow the posts container to grow and take up available space */
}

#single_post {
    flex: 1 1 calc(33.33% - 20px); /* Ensure posts take up 33.33% of the width minus padding */
    margin: 10px;
    padding: 20px; /* Padding around the content */
    background: rgba(0, 0, 0, 0.5); /* 75% opacity dark background */
    border-radius: 10px;
    border: 1px solid #ccc; /* Visible border */
    color: #fff; /* White text color for better visibility on dark background */
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

.post p {
    margin-bottom: 0.25rem;
}

.post small {
    color: #ddd; /* Lighter color for small text */
}

/* Custom styles for the pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: auto; /* Push the pagination to the bottom */
    padding: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

.pagination .page-link:hover {
    color: #333;
    background-color: #e9ecef;
    border-color: #ddd;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: #fff;
    border-color: #ccc;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.create-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.create-post-form .form-group {
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
}

.create-post-form .textarea-container {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

.create-post-form .textarea-container textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none; /* Disable textarea resizing */
    font-size: 16px;
    color: #333;
    outline: none; /* Remove outline */
}

.create-post-form .text-center {
    text-align: center;
}

.create-post-form button {
    margin: 10px;
}